name: 'Awesome Scope Specs'
scopeName: 'source.ass'
fileTypes: [
  'ass'
]

patterns: [
  { include: '#comment' }
  { include: '#id' }
  { include: '#input' }
  { include: '#token-and-scope' }
]

repository:

  comment:
    patterns: [
      {
        begin: '^\\s*(?=#)'
        end: '$'
        name: 'comment.ass'
        patterns: [
          {
            match: '^#'
            name: 'punctuation.ass'
          }
        ]
      }
    ]

  group:
    patterns: [
      { include: '#comment' }
      { include: '#input' }
      { include: '#scope-and-group' }
      { include: '#output' }
      { include: '#token-and-scope' }
    ]

  id:
    patterns: [
      {
        # match: '^((@)[a-zA-Z0-9_\\-\\./]+)$'
        match: '^((@).+)$'
        name: 'id.constant.ass'
        captures:
          2: name: 'punctuation.ass'
      }
    ]

  input:
    patterns: [
      {
        match: '((["\'])(?:[^\\2]*)(?:\\2))\\s?(\\+)$'
        name: 'input.ass'
        captures:
          1: patterns: [{ include: '#token' }]
          3: name: 'punctuation.ass'
      }
      {
        begin: '((["\'])(?:[^\\2]*)(?:\\2))\\s?(\\{)$'
        end: '(\\})'
        name: 'input.ass'
        beginCaptures:
          1: patterns: [{ include: '#token' }]
          3: name: 'punctuation.ass'
        endCaptures:
          1: name: 'punctuation.ass'
        patterns: [
          { include: '#group' }
        ]
      }
    ]

  scope:
    patterns: [
      match: '([a-zA-Z0-9\\-\\_]+)'
      name: 'scope.keyword.ass'
    ]

  'scope-and-group':
    patterns: [
      {
        begin: '([a-zA-Z0-9\\-\\_\\.]+)\\s?(\\{)'
        end: '(\\})'
        beginCaptures:
          1: patterns: [{ include: '#scope' }]
          2: name: 'punctuation.ass'
        endCaptures:
          1: name: 'punctuation.ass'
        patterns: [
          { include: '#group' }
        ]
      }
    ]

  output:
    patterns: [
      name: 'output.ass'
      match: '((["\'])([^\\2]*)(\\2))$'
      captures:
        1: name: 'token.ass'
        2: name: 'punctuation.ass'
        4: name: 'punctuation.ass'
    ]

  token:
    patterns: [
      match: '((["\'])([^\\2]*)(\\2))$'
      captures:
        1: name: 'token.string.ass'
        2: name: 'punctuation.ass'
        4: name: 'punctuation.ass'
    ]

  'token-and-scope':
    patterns: [
      name: 'output.ass'
      match: '((["\'])([^\\2]*)(\\2)):\\s*([a-zA-Z0-9\\-\\_\\.]+)$'
      captures:
        1: patterns: [{ include: '#token' }]
        5: patterns: [{ include: '#scope' }]
    ]
